h1 {
    text-decoration: underline;
    text-emphasis-color: inherit;
}

.Abouttext {
    font-family:  Script MT, Brush Script Std, cursive;
}
p {
    background-color: rgb(214, 51, 51);
}
h1 {
    text-decoration: underline;
}
p {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.judul {
    color: brown;
}